{name, "elixir"}.
{authors, ["José Valim <jose.valim@plataformatec.com.br>"]}.
{description, "Simple Object Orientation and charming syntax on top of Erlang"}.
{homepage, "https://github.com/josevalim/elixir"}.
{license, "MIT", "MIT-LICENSE"}.
{url, {git, "https://github.com/josevalim/elixir.git", {branch, "master"}}}.
{build_command, "make compile"}.
{install_dirs, [otp, "bin","lib"]}.
{bin_files, ["bin/iex","bin/elixir","bin/exunit"]}.
{applications, [elixir]}.
{requires, [{"agner", "atleast:0.4.16"}]}.