{name, "[Package Name]"}.
{authors, ["[Author Name] <[Author Email]>"]}.
{description, "[Package Synopsis]"}.
{homepage, "[Package Homepage]"}.
{rebar_compatible, true}.
{license, "[Package License]", "[Optional Package License File]"}.
{url, {git, "[Package Git URL]", [Package Git Ref]}}.  % Ref is either "[sha1]", or {tag, "[tag name]"} or {brach, "[BranchName]"}
{applications, []}.
% url also accepts {hg, "[Package Hg URL]", "[Package Hg Rev]"} 
